
html,
body,
#react-root {
  height: 100%;
  background-color: #d3d6db;
}

body {
  margin: 0px;
  
}

#react-root{
  display: flex;
  flex-direction: column;

}

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  color: #ca1111;
  font-size: 0.8rem;
}

.content{
  flex: 1;
}

